.history-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}

.time {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #64748b;
  margin-right: 40px;
}

.image {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.title {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #64748b;
  margin-right: 8px;
}

.url {
  font-size: 10px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #475569;
}

.button {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.delete-icon {
  height: 18px;
  width: 18px;
}
